@import "tailwindcss";

@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-tertiary: var(--color-tertiary);

    --color-background: var(--color-background);
    --color-card: var(--color-card);

    --font-primary: var(--font-primary)
}

* {
    line-height: 1.5;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #9f956c;
    --color-secondary: #ff2a00;
    --color-tertiary: #bbb;

    --color-background: rgb(0, 0, 0);
    --color-card: rgb(10,10,10);

    --font-primary: "Space Mono"
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    overflow-x: hidden;
}