@import "tailwindcss";

@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-tertiary: var(--color-tertiary);

    --color-background: var(--color-background);
    --color-card: var(--color-card);

    --font-primary: var(--font-primary)
}

* {
    line-height: 1.5;
    scroll-behavior: smooth;
}


:root {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: #ff2a00;
    --color-tertiary: rgb(10,10,10);
    --color-background: #c9c9c9;
    --color-card: #bbb;
    --font-primary: "Space Mono"
}

.dark {
    --color-primary: #9f956c;
    --color-secondary: #ff2a00;
    --color-tertiary: #bbb;

    --color-background: rgb(0, 0, 0);
    --color-card: rgb(10,10,10);

    --font-primary: "Space Mono"
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    overflow-x: hidden;
}

.dark .conditional-border {
    border: none;

}

.conditional-border {
    @apply border-primary xl:border-r-[1px]
}

@layer base {
    html, body {
        @apply !bg-background;
    }
}